html, body{
  margin:0px; padding:0px;
  background-color:#222665;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;   
}

.InnerPage {
    
    margin-left:15%;
    margin-right:15%;
    height: 100%;
    background-color:white;
    
}

header{
background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(43,43,43,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(43,43,43,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(43,43,43,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(43,43,43,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(43,43,43,1) 100%); /* ie10+ */
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(43,43,43,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#2B2B2B',GradientType=1 ); /* ie6-9 */
      
}

.navbar-default{
    background-color:transparent;
    border-color:transparent;
}
.nav>li>a {
    color: whitesmoke;
    padding: 10px 10px;
     font-family: "Times New Roman", Times, serif;
     font-size:11px;
     
      
}

.form-inline .form-control {
    float:right;
    margin-top:10px;
    margin-right:25px;
}

blockquote{
    border-left:none;
     font-family: "Times New Roman", Times, serif;
     color:#a6a6a6;
     font-size: 25px;
     margin-top:5px
     
}
.social {


}

.imgg {
    margin-top:30px;
}
.Footer {
    background-color: black;
}

#galeria {
     font-family: "Times New Roman", Times, serif;
}

h3 {
     font-family: "Times New Roman", Times, serif;
     color:whitesmoke;
     margin-bottom:20px;
}

h2 {
     font-family: "Times New Roman", Times, serif;  
}

p {
    font-family: "Times New Roman", Times, serif;
    color:gray;
}

.imgg {
    opacity: 0.6;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}
.imgg:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

.navbar-left{
    margin-top:20px;
}

.navbar-nav {
    float:right;
}

.sidebar{
    float:right;  
    padding-left:25px;
    padding-right:25px;
background: -moz-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(207,207,207,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(207,207,207,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(207,207,207,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(207,207,207,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(207,207,207,1) 100%); /* ie10+ */
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(207,207,207,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CFCFCF', endColorstr='#FFFFFF',GradientType=0 ); /* ie6-9 */    
}

.middle{
    background-color: white;
}

.p1 {
     font-family: "Times New Roman", Times, serif;
    color:black;
}

.posts {
    margin-left:10px;
    margin-top:30px;
}

.imggg {
    border:5px outset silver;
}

.post1 {
   margin-right:20px;
}

.text {
    margin-top:-30px;
}

.post {
    margin-bottom: 30px;
}

.btn-primary {
    
    padding-left:40px;
    padding-right:40px;
   background: -moz-linear-gradient(270deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(153,218,255,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(270deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(270deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(270deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* ie10+ */
background: linear-gradient(180deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99DAFF', endColorstr='#008080',GradientType=0 ); /* ie6-9 */
}

.pagination>li>a, .pagination>li>span {
    background-color:#f2f2f2;
    color:gray;
    margin:3px;
    
}

@media (max-width:767px) {
    
    .sidebar {
        float:left;
    }
    
    .text {
        margin-top:0px;
    }
    
    .social {
        margin-bottom:15px;
        margin-left:10px;
        text-align:center;
    }
    
    .navbar-left {
        display: none;
    }
    
    .navbar-nav {
        float:left;
    }
    .form-inline .form-control {
        float:none;
    }
   
}

@media (max-width:1200px) {
    
     .text {
        margin-top:0px;
    }
}
    